.features {

    @include for-size(tablet-desktop-1) {
        display: none;
    }

    @include for-size(desktop) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.service-item {

    display: block;
    align-items: baseline;
    position: relative;

    @include for-size(desktop) {
        width: calc((100% - 30px*3)/3);
        margin: 15px;
    }
}

.service-list {
    @extend %list;

    @include for-size(desktop) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

}