.page-advent {
    padding-top: 60px;
    padding-bottom: 60px;

    @include for-size(desktop) {
        padding-top: 94px;
        padding-bottom: 0px;
    }
}

.advent {

    @extend %list;

    @include for-size(tablet-landscape) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}

.advent .advent-item {
    @include for-size(tablet-portrait) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @include for-size(tablet-landscape) {
        width: calc((100% - 15px*4)/2);
        margin: 15px;
    }

    @include for-size(desktop) {
        width: calc((100% - 30px*4)/4);
    }
}