$accent-color: #2196F3;
$black-color: #000000;
$title-text-color: #757575;
$white-color: #FFFFFF;
$header-border:#ECECEC;
$hero-back-color:#C4C4C4;
$svg-color:#F5F4FA;
$icon-color:#AFB1B8;
$footer-color:#2F303A;

$roboto-font:Roboto;
$sans-serif-font:sans-serif;
$raleway-font:Raleway;